<div class="form-group mt-4">
  <label for="title">标题</label>
  <input required type="text" id="title" name="title" class="form-control" value="<%= article.title %>">
</div>

<div class="form-group mt-4">
  <label for="description">描述</label>
  <textarea  id="description" name="description" class="form-control"><%=article.description%></textarea>
</div>

<div class="form-group mt-4">
  <label for="markdown">内容</label>
  <textarea required id="markdown" name="markdown" class="form-control"><%=article.markdown%></textarea>
</div>
<a href="/" class="btn btn-secondary mr-2 mt-2">取消</a>
<button class="btn btn-primary mt-2" type="submit">保存</button>